[credential]
    helper = store
[core]
    pager = delta
    editor = nvim
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    line-numbers = true
    hyperlinks = true
    side-by-side = true

[color]
    ui = auto
[alias]
    chp = cherry-pick
    dfs = diff --staged
    df = diff
    sh = stash
    st = status
    co = checkout
    br = branch
    rb = rebase
    mg = merge
    mgnoff = merge --no-ff
    cm = commit -v
    cmm = commit -v -m
    cma = commit -v --amend
    sw = switch
    rt = reset
    rs = restore
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%as - %ar)%C(reset) %C(white)%s%C(reset) %C(blue)- %an%C(reset)%C(auto)%d%C(reset)'
    lga = log --all --graph --abbrev-commit --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%as - %ar)%C(reset) %C(white)%s%C(reset) %C(blue)- %an%C(reset)%C(auto)%d%C(reset)'
    lz = !lazygit
    conflicted = !nvim +Conflicted
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[rerere]
    enabled = true
[mergetool "nvim-conflicted"]
    cmd = nvim +Conflicted
[merge]
    tool = nvim-conflicted
    ; conflictstyle = zdiff3
